/* #basic-form{
    margin-top: -20px;
    }
    
    #basic-form p{
        position:relative;
    }
    #name-error, #email-error, #txtTel-error{
        position:absolute;
        top:33px;
        left:30px;
        color:#ffffff;
    }
    input[type=text], select {
      width: 350px;
      height: 30px;
      padding: 15px 20px;
      border-radius: 10px;
      box-sizing: border-box;
      background:#323232;
      color: white;
    }
    
    input[type=email], select {
      width: 350px;
      height: 30px;
      padding: 15px 20px;
      border-radius: 10px;
      box-sizing: border-box;
      background:#323232;
      color: white;
    }
    
    input[type=tel], select {
      width: 350px;
      height: 30px;
      padding: 15px 20px;
      border-radius: 10px;
      box-sizing: border-box;
      background:#323232;
      color: white;
    }
    
    #msg{
    width: 350px;
     padding: 15px 20px;
     border-radius: 10px;
     box-sizing: border-box;
     background: #323232;
     color: white;
    }
    
    .submit{
    color: white;
    background: #e7a331;
    font-family: Times New Roman;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    }
     */
    
