.menu-container {
	width:100%;
	height:2135px;
	/* background-image:url("../images/brown-background.png"); */
	background-repeat:no-repeat;
	background-size: cover;
	margin-top: 0px;
}
.inner-container {
	width:1176px;
	height:2135px;
	margin:auto;
}
.menu-heading {
	text-align:center;
	color:#e7a331;
}
.menu-heading-1 {
	 padding-top: 96px;
}
.menu-heading-2 {
	font-family:Times New Roman;
	font-size:38px;
    line-height: 27px;
	
}
.drinks,.desserts{
	width:100%;
	height:536px;
	padding-top: 57px;
	position:relative;	
}
.drinks-menu,.desserts-menu {
	width:598px;
	height:454px;
	background-color:#ffffff;
	position:absolute;
    top: 16%;
    left: 49%;
}
.drinks-menu-items,.desserts-menu-items {
	width:487px;
	height:372px;	
	margin-top:39px;
	margin-left:59px;
}
.drinks-menu-items p,.desserts-menu-items p {
	 font-family: Pacifico;
	 font-size:30px;
     padding-left: 10px;
	 margin-bottom:0px;
}
ul{
	padding-left: 10px;
}
li:nth-child(n){
	font-family:Times New Roman;
	font-size:18px;
	list-style-type:none;
    display: flex;
    align-items: center;
	color:#7d7d7d;
}
.main-course{
	width:100%;
	height:536px;
	padding-top: 57px;
	position:relative;
	
}
.main-course-img {
	position:absolute;
	left:43%;
}
.main-course-menu {
	width:598px;
	height:454px;
	background-color:#ffffff;
	position:absolute;
    top: 16%; 
}
.main-course-items {
	width:487px;
	height:372px;
	
	margin-top:39px;
	margin-left:59px;
}
.main-course-items p {
	 font-family: Pacifico;
	 font-size:30px;
     padding-left: 10px;
	 margin-bottom:0px;
}
.chillies-img {
	position:relative;
}
.chillies-img img {
	position:absolute;
	top:1833px;
}
/*Feedback Form Tehniyat's work*/
.fb{
	/* background: url('../images/feedbackbg.png') no-repeat; */

background-size: cover;
}
.footer{
display:flex;
justify-content:space-around;
padding:54px 0px;
}
.plate1 img{
position:absolute;
top:110px;
}
.plate1{
position:relative;
}
/*
.location{
margin-top: 61px;
padding-right: 60px;
}*/

.easy{
font-family: Pacifico;
font-size: 25px;
color: white;
}

.address{
font-family: Times New Roman;
font-size: 15px;
color: white;
line-height: 0.15cm;
text-align: center;
}

.locate{
margin-top: 66px;
}


.hours{
text-align:center;
}

.time{
font-family: Times New Roman;
font-size: 15px;
color: white;
text-align: center;
margin-top: 47px;
line-height: 0.15cm;
}

.social2{
padding-top: 84px;
padding-bottom: 56px;
}

/*
.form{
margin-top: 54px;
padding-right: 40px;
}
*/
#basic-form{
margin-top: -20px;
}

#basic-form p{
position:relative;
}
#name-error, #email-error, #txtTel-error{
position:absolute;
top:33px;
left:60px;
color:#ffffff;
}
#basic-form input[type=text] {
  width: 350px;
  height: 30px;
  padding: 15px 20px;
  border-radius: 10px;
  box-sizing: border-box;
  background:#323232;
  color: white;
}

#basic-form  input[type=email]{
  width: 350px;
  height: 30px;
  padding: 15px 20px;
  border-radius: 10px;
  box-sizing: border-box;
  background:#323232;
  color: white;
}

#basic-form  input[type=tel] {
  width: 350px;
  height: 30px;
  padding: 15px 20px;
  border-radius: 10px;
  box-sizing: border-box;
  background:#323232;
  color: white;
}

#msg{
width: 350px;
 padding: 15px 20px;
 border-radius: 10px;
 box-sizing: border-box;
 background: #323232;
 color: white;
}

.submit{
color: white;
background: #e7a331;
font-family: Times New Roman;
font-size: 15px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 40px;
padding-right: 40px;
border-radius: 10px;
}

.plate2 img{
position:absolute;
top: -420px;
left: 89.2%;
}
.plate2{
position:relative;
}
.copyright{
background:#000000;
font-family: Times New Roman;
font-size:15pt;
color:#ffffff;
padding:20px;
text-align:center;
}
/*Menu Form Css*/
.menu-form-parent{
		/* background-image:url("../images/brown-background.png"); */
		background-size:cover;
		padding-bottom:80px;
}
	
.menu-form-parent .mymenu-form{
	width: 30%;
	background-color: #f0f0f0;
	
	border-radius: 15px;
	box-shadow:  5px 10px #888888;
	padding:20px;
	margin:auto;
	
	
}
.menu-form-parent .mymenu-form .menu-form{
	padding:30px 60px 0px 60px;
}
.menu-form-parent .mymenu-form .menu-form h3{
	font-size: 30px;
	font-weight: bold;
	color: rgb(83, 89, 85);
	margin-bottom: 24px;
}
.menu-form-parent .mymenu-form .menu-form > div{
	margin-bottom: 20px;
}
.menu-form-parent .mymenu-form .menu-form > div input{
	width: 250px;
	padding: 10px 3px; 
	font-size: 18px;
    font-style: normal;
    outline: none;
    border: 2px solid white;
    color: red;
}

.menu-form-parent .mymenu-form .menu-form .menuselect{
   	width: 260px;
    appearance: none;
    /* background-image: url(../images/arrow1-form-1.png); */
    background-repeat: no-repeat, repeat;
    background-position: right .2em top 50%, 0 0;
    border: none;
    font-size: 18px;
    font-style: normal;
    outline: none;
    padding: 10px 8px; 
    color: rgb(83, 89, 85);
}
.menu-form-parent .mymenu-form .menu-form > div .order-button{
	width: 260px;
    background-color: #e7a331;;
    border: none;
    padding: 15px 0px;
    font-weight: bold;
    font-size: 18px;
    color: #ffffff;
    outline: none;
}
.menu-form > div ._error{
	color: red;
	display:block;
}
